/* Add the following styles for the popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup iframe {
    width: 80%;
    height: 80vh;
    margin: 10vh auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    /* padding: 20px; */
}

.popup span.close {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Rest of the existing styles */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
}

#logo {
    max-width: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

#cover-photo {
    width: 100%;
    height: 300px;
    background-image: url('assets/cover-photo.JPG'); /* Updated file type */
    background-size: cover;
    background-position: center;
}

#arabic-content {
    text-align: right;
    margin: 20px;
    direction: rtl; /* Right-to-left direction */
}

#arabic-content p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2em; /* Adjust the font size as needed */
}

#arabic-content span.face-to-face {
    font-size: 1.5em; /* Larger font size for "Face To Face" */
}

#form-container {
    margin: 20px;
}

.airtable-embed {
    width: 100%;
    height: 100vh;
    border: 1px solid #ccc;
}

/* Center and style the Register button */
#registerButton {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    #logo {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 1.2em;
    }

    #arabic-content p {
        font-size: 1em; /* Adjust the font size for mobile */
    }

    #arabic-content span.face-to-face {
        font-size: 1.3em; /* Larger font size for "Face To Face" on mobile */
    }

    /* Center and style the Register button on mobile */
    #registerButton {
        width: 90%;
    }
}
