/* Add the following styles for the popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup iframe {
    width: 80%;
    height: 80vh;
    margin: 10vh auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    /* padding: 20px; */
}

.popup span.close {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Rest of the existing styles */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#arabic-content h1 {
    font-size: 30px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Add position relative to create a positioning context for the tooltip */
}

span.bold {
    font-style: bold;
}

#logo-container:hover::before {
    content: "Social Media Accounts";
    position: absolute;
    top: 100%; /* Position the tooltip below the header */
    left: 50%;
    transform: translateX(-50%);
    background-color: #7a7a7a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Hide the tooltip by default */
}

#logo-container:hover::before {
    display: block; /* Show the tooltip on hover */
}

#logo-container .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#logo-container.tooltip-visible .tooltip {
    display: block;
}


#logo {
    max-width: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

#cover-photo {
    width: 100vw;
    max-height: 50vh;
}

#cover-photo img {
    width: 100%;
}

#arabic-content {
    text-align: right;
    margin: 20px;
    direction: rtl; /* Right-to-left direction */
}

#arabic-content p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2em; /* Adjust the font size as needed */
}

#arabic-content span.face-to-face {
    font-size: 1.5em; /* Larger font size for "Face To Face" */
}

#form-container {
    margin: 20px;
}

.airtable-embed {
    width: 100%;
    height: 100vh;
    border: 1px solid #ccc;
}

/* Center and style the Register button */
#registerButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #306b33; /* Green color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor:default;
    font-size: 1.2em;
}

/* Add the following styles for the logo-container */

#logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo-container h1 {
    margin-left: 10px;
}

/* Add the following styles for the buttons */

#register-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#register-button-container p {
    margin-top: 5px;
    font-size: small;
}

#register-button-container a {
    color: blue;
    font-size: small;
    text-decoration: underline;
}

#register-button-container a:hover {
    cursor: pointer;
    color: darkblue;
}

.footer-button {
    width: 25vw;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, linear-gradient 0.3s;
}

#createAccountButton {
    background: linear-gradient(to right, #346edb, #e73c3c, #e73c3c, #e73c3c, #e73c3c, #346edb);
    color: #fff;
}

#socialMediaButton {
    background-color: #3498db;
    color: #fff;
    margin-bottom: 20px;
}

/* Hover styles */
.footer-button:hover {
    cursor: pointer;
}

#createAccountButton:hover {
    background: linear-gradient(to right, #2e5cb7, #c92a2a, #c92a2a, #2e5cb7);
}

#socialMediaButton:hover {
    background-color: #2980b9;
}

a:hover {
    color: darkblue;
}

.signature {
    color: #a5a5a5;
    text-align: center;
    padding-bottom: 10px;
    font-style: italic;
    font-size: smaller;
}

.page-break {
    width: 80%;
    margin: 50px auto; /* Adjust margin as needed */
    border: none;
    border-top: 1px solid #000; /* Adjust the color and style as needed */
}


/* Mobile styles */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    #logo {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 1.2em;
    }

    #arabic-content p {
        font-size: 1em; /* Adjust the font size for mobile */
    }

    #arabic-content span.face-to-face {
        font-size: 1.3em; /* Larger font size for "Face To Face" on mobile */
    }

    /* Center and style the Register button on mobile */
    .footer-button {
        width: 90%;
    }

    .popup iframe {
        width: 90%;
        height: 90vh;
        margin: 5.5vh auto;
    }

    #social-popup {
        top: 20%;
        left: 50%;
        font-size: 20px;
    }

    #social-popup .close {
        font-size: 25px;
    }
}
